<ion-view view-title="poll">

	<div class="bar bar-header bar-calm">
	  <h1 class="title">bar-calm</h1>
	</div>
		
	  <ion-content class="padding">
		<div class="list card">
		  <div class="list">
  
			<div class="list">
		  
		  <label class="item item-input">
    		<input type="text" ng-model="pc.lo_info.Untitled" placeholder="Untitled form">
  		</label>
  		<label class="item item-input">
    		<input type="text" ng-model="pc.lo_info.Form" placeholder="Form description">
  		</label>
		<label class="item item-input">
    		<input type="text" ng-model="pc.lo_info.Question1" placeholder="Question Title">
  		</label>
  		<label class="item item-input">
    		<input type="text" ng-model="pc.lo_info.Option1_1" placeholder="Option1">
  		</label>
  		<label class="item item-input">
    		<input type="text" ng-model="pc.lo_info.Option2_1" placeholder="Option2">
  		</label>
  		<label class="item item-input">
    		<input type="text" ng-model="pc.lo_info.Question2" placeholder="Question Title">
  		</label>
  		<label class="item item-input">
    		<input type="text" ng-model="pc.lo_info.Option1_2" placeholder="Option1">
  		</label>
  		<label class="item item-input">
    		<input type="text" ng-model="pc.lo_info.Option2_2" placeholder="Option2">
  		</label>


  		<button class="button button-block button-positive" ng-click="pc.count()" >
 			 preview{{pc.string}}
		</button>
		<!-- <button class="button button-block button-positive" ng-click="pc.get()" >
 			get
		</button>	
		 -->

		</div>



		</div>
		
	  </ion-content>
</ion-view>
